/* defaults
margin: 0; padding: 0;
box-sizing: border-box;
background-color: white;
display: block;
position: absolute; top: 0; left: 0; */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth; /* making a transition */
}
body::-webkit-scrollbar { display: none; } /* get ride of scroll bar */

h1, h2, h3, h4 {
  margin: 0;
} p {
  font-family: 'Nunito', sans-serif;
} img { /* have images auto resize to div */
  max-width: 100%;
  max-height: 100%;
}

.mainContainer{
  position: absolute; top: 0; left: 0;
  height: 200vh; width: 100vw;
}

#topNav{
  position: fixed; top: -4px; right: 3vw;
  text-align: right;
  z-index: 100;
}
#topNav a{
  display: inline-block;
  text-align: center;
  margin-right: .4vw;
  width: 9.1vw;
  height: 3.6vw;
  background: #FFFFFF;
  border: 2.5px solid #0086B9;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;

  padding-top: 0.5vw;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;

  letter-spacing: -0.015em;
  text-decoration: none;
  color: #0086B9;
}
#topNav a.active{
  background: #0086B9;
  color: #FFFFFF;
}
#topNav a:hover{
  background: #004463;
  color: #FFFFFF;
  border: 2.5px solid #004463;
}

#scroll{
  position: fixed; top: 90vh; left: 50vw;
  background-image: url(down.png);
  background-size: contain;
  text-align: center;
  width: 48px; height: 30px;
  transition: top 0.3s;
}

#background{
  background-image: url(school.jpg);
  background-size: cover;
  position: fixed; top: 0; right: 0;
  width: 70vw;
  height: 100vh;
}

#content{
  position: absolute;
  top: 24vh; left: 4vw;
  width: 20vw;
  font-size: 3vw;
  color: #302B2A;
}

#content1{
  position: absolute;
  top: 108vh; left: 4vw;
  width: 23vw;
  font-size: 1.8vw;
}
#efforts{ top: 104vh; }
#efforts a{ color: #0086B9; }
.content{
  position: relative;
  top: 12vh; left: 6vw;
  width: 88vw;
  font-size: 1.8vw;
}
#image{
  position: absolute; top: 0; left: 0;
  background-image: url(hop.jpg);
  width: 88vw; height: 84vh;
  background-size: cover;
  opacity: 0.3;
  border-radius: 15px;
}
#resources{
  position: absolute; top: 0; left: 0;
  width: 88vw;
}
#resources a{ color: black; position: absolute; font-size: 3vw; }
#resources a:hover{ color: #D35301; }
#b { top: 8vh; left: 26vw; }
#c { top: 23vh; left: 10vw; }
#d { top: 22vh; left: 54vw; }
#e { top: 46vh; left: 6vw; }
#f { top: 68vh; left: 17vw; }
#g { top: 42vh; left: 60vw; }

#footer{ text-align: right; font-size: 1.5vw; }
#artists{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}
#artists a{
  text-align: center;
  padding: 20px 14px 20px 14px;
  background-color: #FFB17A;
  color: black;
  text-decoration: none;
}
#artists a:hover{
  background-color: #D35301;
  color: white;
  border: 2px solid #D35301;
  padding: 20px 14px 20px 14px;
}
#othernet{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.8px solid #FFB17A;
  padding: 0px 3.5vw 0px 3.5vw;
}
#othernet a{ color: #004463; }
